<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GCIEntidades" connectionString="metadata=res://*/GCI.csdl|res://*/GCI.ssdl|res://*/GCI.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=GCI;Integrated Security=False;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GCI_AuditoriaContainer" connectionString="metadata=res://*/GCI_Auditoria.csdl|res://*/GCI_Auditoria.ssdl|res://*/GCI_Auditoria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=GCI_Auditoria;integrated security=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GCI.Properties.Settings.GCIConnectionString" connectionString="Data Source=localhost;Initial Catalog=GCI;Integrated Security=False"
      providerName="System.Data.SqlClient" />
    <add name="GCI.Properties.Settings.GCIConnectionString1" connectionString="Data Source=localhost;Initial Catalog=GCI;Integrated Security=False"
      providerName="System.Data.SqlClient" />
    <add name="GCI.Properties.Settings.GCIConnectionString2" connectionString="Data Source=localhost;Initial Catalog=GCI;Integrated Security=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

